<!DOCTYPE>
<html>
  <head>
    <link rel = "stylesheet" href="/assets/styles.css" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>Thanks for contacting us</p>
    <p>You contacted <%= data.who %> in the <%= data.dept %> department</p>
    <p>We shall contact you via <%= data.phone %></p>
  </body>
</html>
